<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://opendata.eol.org/dataset/calphotos&#xd;
http://eol.org/content_partners/363/resources/267</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>#start build at midnight:
#    @midnight
#every first of every month between 2:00 a.m. - 02:30 a.m. :
#H(0-30) 2 1 * *

#or start build at midnight, every Saturday:
H 1 * * 6
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Informed partner: http://calphotos.berkeley.edu/eol.xml.gz cannot be unzipped anymore.&quot;

exit 0 #graceful exit

cd /var/www/html/eol_php_code/update_resources/connectors
php 267.php jenkins
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>