<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors

#php run.php jenkins &apos;{&quot;connector&quot;:&quot;gen_wikipedia_by_lang&quot;, &quot;divisor&quot;:10, &quot;task&quot;:&quot;initial&quot;, &quot;langx&quot;:&quot;sv&quot;}&apos;
# -&gt; new OK 6 connectors run

#php wikipedia.php jenkins ps --- right to left
#php wikipedia.php jenkins sd
#php wikipedia.php jenkins ckb
#php wikipedia.php jenkins dv


php wikipedia.php jenkins ak
php wikipedia.php jenkins bm
php wikipedia.php jenkins cu
php wikipedia.php jenkins ks
php wikipedia.php jenkins pap
php wikipedia.php jenkins got
php wikipedia.php jenkins ee
php wikipedia.php jenkins ady
php wikipedia.php jenkins pih
php wikipedia.php jenkins ki
php wikipedia.php jenkins shn
php wikipedia.php jenkins pi
php wikipedia.php jenkins sm
php wikipedia.php jenkins ti
php wikipedia.php jenkins ve
php wikipedia.php jenkins ch
php wikipedia.php jenkins ig
php wikipedia.php jenkins lrc
php wikipedia.php jenkins om
php wikipedia.php jenkins st
php wikipedia.php jenkins din
php wikipedia.php jenkins ss
php wikipedia.php jenkins tet
php wikipedia.php jenkins sg
php wikipedia.php jenkins ff
php wikipedia.php jenkins pnt
php wikipedia.php jenkins tn
php wikipedia.php jenkins cbk-zam
php wikipedia.php jenkins rmy
php wikipedia.php jenkins bug
php wikipedia.php jenkins data
php wikipedia.php jenkins dz
php wikipedia.php jenkins nqo
php wikipedia.php jenkins mh
php wikipedia.php jenkins tw
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>