<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>### use this if you want to stop dead on its tracks
#exit 1

#cd /html/eol_php_code/applications/content_server/resources
#rm -f wikipedia_generation_status*.txt 
#[ -f wikipedia_*.tmp ] &amp;&amp; rm -f wikipedia_*.tmp || echo &quot;Files do not exist&quot;

cd /html/eol_php_code/update_resources/connectors
php wikipedia.php jenkins en #English
#should generate 80.tar.gz

#---------------------
#initially six (6) connectors
#echo &quot;start Wikipedia en build...&quot;
#php wikipedia.php jenkins en generate_resource 1 416666 1of6
#php wikipedia.php jenkins en generate_resource 416666 833332 2of6
#php wikipedia.php jenkins en generate_resource 833332 1249998 3of6
#php wikipedia.php jenkins en generate_resource 1249998 1666664 4of6
#php wikipedia.php jenkins en generate_resource 1666664 2083330 5of6
#php wikipedia.php jenkins en generate_resource 2083330 2500000 6of6 #all remaining
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>../Environmental tagger for EOL resources/Wikipedia EN (English),utility_taxon_wiki_per_language_stats</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>