<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://eol-jira.bibalex.org/browse/TRAM-703</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /html/eol_php_code/update_resources/connectors

php xml_2_dwca.php jenkins 20
#php xml_2_dwca.php jenkins 327

#php xml_2_dwca.php jenkins TaiEOL
#php xml_2_dwca.php jenkins 547
#php xml_2_dwca.php jenkins 889
#php xml_2_dwca.php jenkins 890
#php xml_2_dwca.php jenkins 888

#php xml_2_dwca.php jenkins 6
#php xml_2_dwca.php jenkins 339

#php xml_2_dwca.php jenkins 63 #INOTAXA
#php xml_2_dwca.php jenkins 116 #The Dutch Ascidians Homepage



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>