<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://opendata.eol.org/dataset/nmnh_mammals&#xd;
http://www.eol.org/content_partners/196/resources/344</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>#start build at midnight:
#    @midnight
#or start build at midnight, every Saturday:
#    59 23 * * 6
#every first of every month between 2:00 a.m. - 02:30 a.m. :
#    H(0,30) 02 01 * *

#or start build at midnight, every Saturday:
#H 23 * * 6
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /html/eol_php_code/update_resources/connectors
php5.6 344.php jenkins
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>