<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://opendata.eol.org/dataset/antweb&#xd;
http://eol.org/content_partners/6/resources/24</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#temporarily commented Oct 24, 2018, AntWeb API is down.

#exit -1

#cd /html/eol_php_code/update_resources/connectors
#php 24.php jenkins

#for Trait data
#cd /html/eol_php_code/update_resources/connectors
#php dwca_utility.php jenkins 24

### atm for caching only...
cd /html/eol_php_code/update_resources/connectors
php 24_new.php jenkins
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>