<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://eol-jira.bibalex.org/browse/DATA-1766</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors

php remove_MoF_for_taxonID.php _ &apos;{&quot;resource_id&quot;: &quot;TRY_temp2&quot;, &quot;resource&quot;: &quot;remove_MoF_for_taxonID&quot;, &quot;resource_name&quot;: &quot;Try Database temp2&quot;}&apos; 
# - reads TRY_temp2.zip
# - generates: try_dbase_2024.tar.gz

php resource_utility.php _ &apos;{&quot;resource_id&quot;: &quot;try_dbase_2024_meta_recoded&quot;, &quot;task&quot;: &quot;metadata_recoding&quot;}&apos; 
# - reads try_dbase_2024.tar.gz
# - generates try_dbase_2024_meta_recoded.tar.gz
# - fix lifeStage

php move_col_inMoF_2child_inMoF.php _ &apos;{&quot;resource_id&quot;: &quot;try_dbase_2024_meta_recoded&quot;, &quot;resource&quot;: &quot;move_MoF_col_2childMoF&quot;, &quot;resource_name&quot;: &quot;Try DB MoF update&quot;}&apos; 
# - for SampleSize and bodyPart
# - move a col in MoF to a child rec in MoF
# - generates try_dbase_2024_final.tar.gz


</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>