<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>6</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec># once a day on the 1st and 15th of every month except December
H H 15 1,3,5,7,9,11 *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors

# step 1: OK
php globi_data.php jenkins
# generates globi_associations.tar.gz
# then also...
# generates globi_associations_final.tar.gz
#exit 1 #during tests

# step 2: OK - part of main operation. Temporarily commented as I&apos;m fixing above script.
php make_hash_IDs_4Deltas.php jenkins &apos;{&quot;task&quot;: &quot;&quot;, &quot;resource&quot;:&quot;Deltas_4hashing&quot;, &quot;resource_id&quot;:&quot;globi_associations_final&quot;}&apos;
# generates globi_associations_delta.tar.gz

# step 3: OK remove unused Reference entries
php remove_unused_references.php jenkins &apos;{&quot;resource_id&quot;: &quot;globi_associations_delta&quot;}&apos;
# generates globi_associations_tmp1.tar.gz

# === LAST STEP: copy globi_associations_tmp1.tar.gz to globi_assoc.tar.gz OK
cd /var/www/html/eol_php_code/applications/content_server/resources
cp globi_associations_tmp1.tar.gz globi_assoc.tar.gz
ls -lt globi_associations_tmp1.tar.gz
ls -lt globi_assoc.tar.gz
# then delete globi_associations_tmp1.tar.gz
rm -f globi_associations_tmp1.tar.gz

cd /var/www/html/eol_php_code/update_resources/connectors
php ckan_api_access.php jenkins &quot;c8392978-16c2-453b-8f0e-668fbf284b61&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>