<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /html/eol_php_code/update_resources/connectors

#step 2: initially six connectors to cache, then one connector to finalize

#php5.6 wikidata.php jenkins save_all_media_filenames 1 300000
#php5.6 wikidata.php jenkins save_all_media_filenames 300000 600000
#php5.6 wikidata.php jenkins save_all_media_filenames 600000 900000
#php5.6 wikidata.php jenkins save_all_media_filenames 900000 1400000 #inc 500000
php5.6 wikidata.php jenkins save_all_media_filenames 1400000 1900000 5of6 #inc 500000
#php5.6 wikidata.php jenkins save_all_media_filenames 1900000 2500000 #all remaining
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>