<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>6</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors

### orig scheme - OBSOLETE
# php wikidata.php jenkins generate_resource # orig

### new scheme
php run.php _ &apos;{&quot;connector&quot;:&quot;gen_wikimedia&quot;, &quot;divisor&quot;:6, &quot;task&quot;:&quot;initial&quot;}&apos;
### This will trigger 6 eol_stats_job_? jobs.
### After all 6 are done, will aggregate into a single DwCA: 71.tar.gz
### Next will run: fill_up_undefined_parents_real.php on another job
### Next will run: should trigger: [08.5 Wikimedia Subsets]
  

### originally has 2 post build:
# 08.5 Wikimedia Subsets,../Wikipedia in different languages/Wikipedia en start

### permanently disabled Post build for: [Wikipedia en start] on 1Jul2022.</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>