<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
#cd /extra/dumps/wikidata
#touch eli.txt
#gzip -c eli.txt &gt; eli.txt.gz
#ls -lt

#cd /extra/dumps/wikidata
#ls -lt


which gnparser

#/usr/bin/gnparser name -f &quot;json-pretty&quot; &quot;Gadus morhua Jordan, 1964&quot;

#/usr/local/bin/gnparser -h
#/opt/gnparser/bin/gnparser -h

gnparser name -f json-pretty &apos;Gadus morhua Jordan, 1964&apos;

#cd /extra/other_files/
#cd /extra/d_w_h/2018_12/
#ls -lt


#cd /extra/other_files/GBIF_occurrence/DwCA_Other7Groups/
#rm -f Other7Groups_DwcA.zip
###curl -L -o &apos;Other7Groups_DwcA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0081146-200221144449610.zip                                        
#bash /html/eol_php_code/update_resources/connectors/files/GBIF/run_Other7Groups.sh

#unzip -jo Other7Groups_DwCA.zip multimedia.txt
#unzip -jo Other7Groups_DwCA.zip occurrence.txt



#cd /extra/apps/vangelis_tagger/eol_tagger/
#./environments_tagger ../test_text_data/ &amp;&gt; ../eol_tags/eol_tags.tsv

#yum -v

#cd /html/eol_php_code/update_resources/connectors
#php5.6 test.php


#ls -lt /usr/bin/p*
#ls -lt /usr/bin/php5.6

#ls -lt /html/eol_php_code/tmp/
#ls -lt /html/eol_php_code/tmp/cache2/


#php5.6 -v
#php -v

#/usr/bin/mysql -uroot -p&apos;m173!XAbc*&apos;  -e &quot;SELECT @@datadir;&quot;
#which mysql
#df -h

#mysqld --version

#which php

#wget --help
#cd /html/FreshData &amp;&amp; php app/testx.php
#cd /html/FreshData/TSV_files &amp;&amp; touch eli.txt
#wget --tries=3 -O /html/FreshData/TSV_files/cha.tsv &quot;http://editors.eol.org/test.tsv&quot;
#wget --tries=3 -O /html/FreshData/TSV_files/5b6d8474-fcb4-5e16-b5cf-8f8a9a502fc3.tsv &quot;http://api.effechecka.org/occurrences.tsv?taxonSelector=aphaenogaster picea|aphaenogaster fulva|aphaenogaster rudis&amp;traitSelector=&amp;wktString=POLYGON ((-138.8671875 44, -138.8671875 70, -47.8125 70, -47.8125 44, -138.8671875 44))&quot; 2&gt;&amp;1
#curl --help

#php -m
#php5.6 -m

#which php5.6
#which sudo
#php5.6 -i
#gzip --help

#which zip
#zip -v
#php5.6 -v
#php --info

#which gzip
#which mkdir

#which mysql

#which file #OK
#which gunzip #OK
#which unzip #OK
#which convert #not OK
#which tar #OK

#which rm OK
#which curl OK

# get public IP... OK
# wget http://ipecho.net/plain -O - -q ; echo

#mysql:3306 --version

#which mysql:3306

#which gzip OK
#which zip OK

#which mysql OK

#mysql --version OK

#mysql -u root

#which mysql
#mysql --version


#mysql -h mysql -uroot -pEolRocks! #OK

#mysql -h 172.17.0.2 -uroot -pEolRocks! #OK


#mysql -h 172.17.0.2 -uroot -pEolRocks! &amp;&amp; show databases;

#which gzip
#exit 1 #force trigger FAILURE




# ORIG - this works OK but triggers FAILURE
#gunzip -fk latest-all.json.gz #k means keep, don&apos;t delete orig file

#let us try this: still gives FAILURE even if success
#gzip -dfk latest-all.json.gz

#another try: still gives FAILURE even if success
#gzip -dfkq latest-all.json.gz


#which gzip


#cd /html/eol_php_code/applications/content_server/resources/
#gzip -dfk /html/eol_php_code/applications/content_server/resources/eli.html.gz

#which gzip

#cd /html/eol_php_code/applications/content_server/
#cd /extra/tools_temp/

#ls -lt
#which wget
# wget http://google.com


#which chmod
#which /bin/chmod
#which /usr/bin/chmod

## cannot access as expected
#ls /var/www/html/cache_LiteratureEditor/
#ls /html/cache_LiteratureEditor/
#exit(1)

#which cat
#which ffmpeg


#cd /html/eol_php_code/update_resources/connectors/
#php5.6 media_convert.php

#exit(1)
#cd /extra/eol_php_code_tmp/
#ls -lt

#php -v</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>