<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>### Latest as of Oct2018 | 8Jun2020

### UN-COMMENT ALL THOSE WITH ## FOR ORIG OPERATION

### start initializing - deleting old files ==============

### Remove all CSV files (.csv):
rm -rf /extra/other_files/GBIF_occurrence/GBIF_taxa_csv_dwca/*

### Remove multimedia assignments to taxon (.txt): 
### --- PLEASE REVIEW IF WE NEED TO REMOVE THIS EVERY HARVEST --- BEC. IT TAKES SO MUCH TIME
rm -rf /extra/other_files/GBIF_occurrence/multimedia_gbifID/*

### Move txt files before nuke /map_data_dwca/*
[ ! -d &quot;/extra/tmp&quot; ] &amp;&amp; mkdir /extra/tmp
mv /extra/map_data_dwca/final_taxon_concept_IDS*.txt /extra/tmp/

### Remove all map data (.json)
rm -rf /extra/map_data_dwca/*

### Move back txt files
mv /extra/tmp/final_taxon_concept_IDS*.txt /extra/map_data_dwca/


### start DwCA downloads ================================= worked OK

### OK
cd /extra/other_files/GBIF_occurrence/DwCA_Animalia/
[ -f Animalia_DwCA.zip ] &amp;&amp; rm -f Animalia_DwCA.zip || echo &quot;File does not exist. OK&quot;
# old way ##curl -L -o &apos;Animalia_DwCA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0081142-200221144449610.zip
bash /html/eol_php_code/update_resources/connectors/files/GBIF/run_Animalia.sh
unzip -jo Animalia_DwCA.zip multimedia.txt
unzip -jo Animalia_DwCA.zip occurrence.txt
rm -f Animalia_DwCA.zip #after unzipping remove zip file

### OK
cd /extra/other_files/GBIF_occurrence/DwCA_Plantae/
[ -f Plantae_DwCA.zip ] &amp;&amp; rm -f Plantae_DwCA.zip || echo &quot;File does not exist. OK&quot;
# old way ##curl -L -o &apos;Plantae_DwCA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0081144-200221144449610.zip                                   
bash /html/eol_php_code/update_resources/connectors/files/GBIF/run_Plantae.sh
unzip -jo Plantae_DwCA.zip multimedia.txt
unzip -jo Plantae_DwCA.zip occurrence.txt
rm -f Plantae_DwCA.zip #after unzipping remove zip file

### OK
cd /extra/other_files/GBIF_occurrence/DwCA_Other7Groups/
[ -f Other7Groups_DwcA.zip ] &amp;&amp; rm -f Other7Groups_DwcA.zip || echo &quot;File does not exist. OK&quot;
# old way ##curl -L -o &apos;Other7Groups_DwcA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0081146-200221144449610.zip                                        
bash /html/eol_php_code/update_resources/connectors/files/GBIF/run_Other7Groups.sh
unzip -jo Other7Groups_DwCA.zip multimedia.txt
unzip -jo Other7Groups_DwCA.zip occurrence.txt
rm -f Other7Groups_DwcA.zip #after unzipping remove zip file


# ORIG next step, commented temporarily
# 02a breakdown Animalia</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>02a breakdown Animalia</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>