<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>#H H 21,22,23 1-12 *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /var/www/html/eol_php_code/update_resources/connectors

php aggregate_wikipedia_resources.php jenkins
# generates wikipedia_combined_languages.tar.gz
# and       wikipedia_combined_languages_batch2.tar.gz

php fill_up_undefined_parents_real.php jenkins &apos;{&quot;resource_id&quot;: &quot;wikipedia_combined_languages&quot;,        &quot;source_dwca&quot;: &quot;wikipedia_combined_languages&quot;,        &quot;resource&quot;: &quot;fillup_missing_parents&quot;}&apos;
php fill_up_undefined_parents_real.php jenkins &apos;{&quot;resource_id&quot;: &quot;wikipedia_combined_languages_batch2&quot;, &quot;source_dwca&quot;: &quot;wikipedia_combined_languages_batch2&quot;, &quot;resource&quot;: &quot;fillup_missing_parents&quot;}&apos;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>