<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>15</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>### start main program ===================================

### working OK!
cd /var/www/html/eol_php_code/update_resources/connectors
php gbif_georeference_dwca.php jenkins &apos;{&quot;task&quot;:&quot;save_ids_to_text_from_many_folders&quot;}&apos;
wc -l /extra/map_data_dwca/final_taxon_concept_IDS.txt


### start to tgz the map data folder =================================== per JRice&apos;s request
### working OK!
cd /extra/
tar -czf map_data_dwca_$(date +&quot;%Y-%m-%d&quot;).tgz map_data_dwca/
ls -l map_data_dwca_*.tgz #just to verity the tgz file is created.
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>