<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://eol-jira.bibalex.org/browse/DATA-1842</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /html/eol_php_code/update_resources/connectors

#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:328672, &quot;sci&quot;:&quot;Panthera leo&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:695, &quot;sci&quot;:&quot;Aves&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:164, &quot;sci&quot;:&quot;Arthropoda&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:1642, &quot;sci&quot;:&quot;Mammalia&quot;}&apos;

##Finished at: 8,100
##[https://eol.org/api/pages/1.0/695.json?details=true&amp;images_per_page=50&amp;images_page=8100]
##objects: 50

#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:7631, &quot;sci&quot;:&quot;Chiroptera&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:747, &quot;sci&quot;:&quot;Lepidoptera&quot;}&apos;

#Next batch as of Apr 10, 2020: Squamata (Lizards And Snakes), Anura (Frogs And Toads), Coleoptera (Beetles), and Carnivora (Carnivores)
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:1704, &quot;sci&quot;:&quot;Squamata&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:1553, &quot;sci&quot;:&quot;Anura&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:345, &quot;sci&quot;:&quot;Coleoptera&quot;}&apos;
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:7662, &quot;sci&quot;:&quot;Carnivora&quot;}&apos;

#Next batch, first with ancestry
#php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:282, &quot;sci&quot;:&quot;Angiosperms&quot;}&apos;

#Next batch as of Aug 24, 2020 - DATA-1861
php5.6 taxon_image_bundles.php jenkins &apos;{&quot;eol_page_id&quot;:282, &quot;sci&quot;:&quot;Angiosperms&quot;, &quot;with_limit_images_per_family_YN&quot;:1}&apos;

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>