<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://eol-jira.bibalex.org/browse/DATA-1715&#xd;
https://opendata.eol.org/organization/user-requests&#xd;
&#xd;
as of Sep 12, 2019 deleted the builds, will check connector to disable debug info</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors
php eol_api_traits.php jenkins growth_habit

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>