<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /html/eol_php_code/update_resources/connectors


#php5.6 spreadsheet_2_dwca.php jenkins 1014 
#php5.6 spreadsheet_2_dwca.php jenkins 1017 
#php5.6 spreadsheet_2_dwca.php jenkins 1024 
#php5.6 spreadsheet_2_dwca.php jenkins 1019 
#php5.6 spreadsheet_2_dwca.php jenkins 1013 
#php5.6 spreadsheet_2_dwca.php jenkins 986 
#php5.6 spreadsheet_2_dwca.php jenkins 1009 
#php5.6 spreadsheet_2_dwca.php jenkins 1010 
#php5.6 spreadsheet_2_dwca.php jenkins 1012 
#php5.6 spreadsheet_2_dwca.php jenkins 1016 
#php5.6 spreadsheet_2_dwca.php jenkins 1018 
#php5.6 spreadsheet_2_dwca.php jenkins 1020 
#php5.6 spreadsheet_2_dwca.php jenkins 1021 
#php5.6 spreadsheet_2_dwca.php jenkins 1022 
#php5.6 spreadsheet_2_dwca.php jenkins 1023 
php5.6 spreadsheet_2_dwca.php jenkins 985


#php5.6 spreadsheet_2_dwca.php jenkins NMNHPlantGrowthFormData


#php5.6 spreadsheet_2_dwca.php jenkins _ &quot;https://github.com/eliagbayani/EOL-connector-data-files/raw/master/schema/eol_import_spreadsheet.xlsx&quot; 
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>