<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>### Latest as of Oct 2018

### start initializing - deleting old files ==============

#Remove all CSV files (.csv):
rm -rf /extra/other_files/GBIF_occurrence/GBIF_taxa_csv_dwca/*

#Remove multimedia assignments to taxon (.txt):
rm -rf /extra/other_files/GBIF_occurrence/multimedia_gbifID/*

#Remove all map data (.json)
rm -rf /extra/map_data_dwca/*


### start DwCA downloads ================================= worked OK

#OK
cd /extra/other_files/GBIF_occurrence/DwCA_Animalia/
##rm -f Animalia_DwCA.zip
##curl -L -o &apos;Animalia_DwCA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0012668-181003121212138.zip
##unzip -jo Animalia_DwCA.zip multimedia.txt
##unzip -jo Animalia_DwCA.zip occurrence.txt

#OK
cd /extra/other_files/GBIF_occurrence/DwCA_Plantae/
##rm -f Plantae_DwCA.zip
##curl -L -o &apos;Plantae_DwCA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0012669-181003121212138.zip
##unzip -jo Plantae_DwCA.zip multimedia.txt
##unzip -jo Plantae_DwCA.zip occurrence.txt

#OK
cd /extra/other_files/GBIF_occurrence/DwCA_Other7Groups/
##rm -f Other7Groups_DwcA.zip
##curl -L -o &apos;Other7Groups_DwcA.zip&apos; -C - http://api.gbif.org/v1/occurrence/download/request/0012209-181003121212138.zip
##unzip -jo Other7Groups_DwcA.zip multimedia.txt
##unzip -jo Other7Groups_DwcA.zip occurrence.txt
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>02 Start harvest process</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>