<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf /extra/other_files/GBIF_occurrence/GBIF_taxa_csv_dwca/f*


# rm -rf /extra/other_files/GBIF_occurrence/multimedia_gbifID/*

### start main program ===================================

#### cd /var/www/html/eol_php_code/update_resources/connectors
#php generate_map_data_using_GBIF_csv_files.php jenkins &apos;{&quot;group&quot;:false,&quot;range&quot;:[585613,615613],&quot;ctr&quot;:10,&quot;rank&quot;:&quot;&quot;}&apos;
#php generate_map_data_using_GBIF_csv_files.php jenkins &apos;{&quot;group&quot;:false,&quot;range&quot;:[555613,585613],&quot;ctr&quot;:11,&quot;rank&quot;:&quot;&quot;}&apos;
#php generate_map_data_using_GBIF_csv_files.php jenkins &apos;{&quot;group&quot;:false,&quot;range&quot;:[525613,555613],&quot;ctr&quot;:12,&quot;rank&quot;:&quot;&quot;}&apos;
#php generate_map_data_using_GBIF_csv_files.php jenkins &apos;{&quot;group&quot;:false,&quot;range&quot;:[515613,525613],&quot;ctr&quot;:13,&quot;rank&quot;:&quot;&quot;}&apos;
##### php generate_map_data_using_GBIF_csv_files.php jenkins &apos;{&quot;group&quot;:false,&quot;range&quot;:[514490,514500],&quot;ctr&quot;:1,&quot;rank&quot;:&quot;&quot;}&apos;


## another utility
#rm -rf /extra/other_files/GBIF_occurrence/multimedia_gbifID/d*</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>