<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://opendata.eol.org/dataset/shelled-animal-body-mass&#xd;
https://eol-jira.bibalex.org/browse/DATA-1733</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /html/eol_php_code/update_resources/connectors

# step 1 OK. This will process XLS from OpenData:
php spreadsheet_2_dwca.php jenkins Shelled_animal_body_mass

# step 2 OK. This will process Shelled_animal_body_mass.tar.gz from /resources/ folder.
php dwca_utility.php jenkins Shelled_animal_body_mass
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>