<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>6</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>Wikipedia fr 1of6,Wikipedia fr 2of6,Wikipedia fr 3of6,Wikipedia fr 4of6,Wikipedia fr 5of6,Wikipedia fr 6of6</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /html/eol_php_code/update_resources/connectors

php5.6 wikipedia.php jenkins fr generate_resource #

# === STEP: fill-up missing parent entries
php5.6 fill_up_undefined_parents.php jenkins &apos;{&quot;resource_id&quot;: &quot;wikipedia-fr&quot;, &quot;source_dwca&quot;: &quot;wikipedia-fr&quot;, &quot;resource&quot;: &quot;fillup_missing_parents&quot;}&apos;


### temporarily won&apos;t continue to: Wikipedia pt start,Wikipedia - ru,Wikipedia - ja,Wikipedia - ko
#exit 1

##copy this to: [Post-build Actions][Build other projects][Projects to build] below:
# Wikipedia pt start,Wikipedia - ru,Wikipedia - ja,Wikipedia - ko
##Trigger only if build is stable</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>Wikipedia pt start,Wikipedia - ru,Wikipedia - ja,Wikipedia - ko</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>