<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://eol-jira.bibalex.org/browse/DATA-1744&#xd;
&#xd;
This is a pre-requisite for the two:&#xd;
- CoL DH&#xd;
- CoL Protists DH</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#cd /Library/WebServer/Documents/eol_php_code/update_resources/connectors
cd /html/eol_php_code/update_resources/connectors
#this is kinda one-time since it is date sensitive.
#php COL_data.php jenkins
#generates col.tar.gz

php resource_utility.php jenkins &apos;{&quot;resource_id&quot;: &quot;col_meta_recoded&quot;, &quot;task&quot;: &quot;metadata_recoding&quot;}&apos;
#generates col_meta_recorded.tar.gz
#this just moves MEDIA contributor to AGENTS
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>