<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://opendata.eol.org/dataset/plant-forms-habitat-and-distribution&#xd;
&#xd;
Eli as of Sep 12, 2019 deleted the builds coz it is getting too much space.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/www/html/eol_php_code/update_resources/connectors

# step 1 OK. This will process XLS from OpenData:
# https://opendata.eol.org/dataset/aab3818f-d538-4d5f-a3b8-b52d233c7ac0/resource/8e46a838-0394-42bd-9272-0a8591834713/download/plant-habit-habitat-and-distribution.xlsx
php spreadsheet_2_dwca.php jenkins plant_forms_habitat_and_distribution

# step 2 OK. This will process plant_forms_habitat_and_distribution.tar.gz from /resources/ folder.
php dwca_utility.php jenkins plant_forms_habitat_and_distribution
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>